@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}
body {
  margin: 0px;
}

/* swiper navigation */
.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-white !text-[2rem];
}

@keyframes borderMove {
  0% {
    stroke-dashoffset: 800;
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.2;
  }
}

.neon-border {
  animation: borderMove 2s linear infinite;
  filter: drop-shadow(4px 4px 16px cyan);
}

.border-neutral-800 {
  transition: border-color 0.3s ease;
}

button {
  transition: all 0.3s ease-out;
}
