/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heveria: ...;
}

* {
  font-family: var(--font-heveria), sans-serif;
}

/* body {
  font-family: "Manrope", sans-serif;
} */

::-webkit-scrollbar {
  display: none;
}

/* swiper navigation */
.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-white !text-[2rem];
}

@keyframes borderMove {
  0% {
    stroke-dashoffset: 800;
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.2;
  }
}

.neon-border {
  animation: borderMove 2s linear infinite;
  filter: drop-shadow(4px 4px 16px cyan);
}

.border-neutral-800 {
  transition: border-color 0.3s ease;
}

button {
  transition: all 0.3s ease-out;
}

.elegant-popup {
  background: #121212;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

/* Title Styling */
.elegant-title {
  font-size: 26px;
  font-weight: 700;
  color: #ececec;
  margin-bottom: 12px;
  text-align: center;
}

/* Message Styling */
.elegant-message {
  font-size: 18px;
  color: #ececec;
  line-height: 1.6;
  text-align: center;
}

.elegant-confirm-button {
  background-color: #282828;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  border: 1px solid #383838;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.elegant-confirm-button:hover {
  transform: translateY(-3px);
}

.elegant-confirm-button:active {
  transform: translateY(1px);
}

@media (max-width: 400px) {
  .elegant-popup {
    width: 85%;
  }
}
