.page-transition-curve {
  .page-transition-svg,
  .page-transition-background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw; 
    pointer-events: none;
    left: 0;
    top: 0;
    z-index: 50;
  }

  .page-transition-background {
    background-color: black;
    transition: opacity 0s linear 0.1s;
    z-index: 49;
  }

  .page-transition-route {
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
    font-size: 46px;
    z-index: 51;
    transform: translateX(-50%);
    text-align: center;
  }
}
